@model IEnumerable<DAL.ViewModel.BillViewModel>

@{
    ViewData["Title"] = "ListBill";
}

<p class="text-center"><h1>Danh sách hóa đơn</h1></p>


<table class="table">
    <thead>
        <tr>
            <th>
              <label class="form-label">ID</label>
            </th>
            <th>
                <label class="form-label">Tên khách hàng</label>
            </th>
            <th>
                <label class="form-label">Thành tiền</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
               @*  @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) *@

                    <a asp-action="Details" asp-controller="Bill" class="btn btn-primary nav-link text-dark" >Xem hóa đơn</a>
                   
            </td>
        </tr>
}
    </tbody>
</table>
